<!DOCTYPE html>
<html>
<head>
    <title>Search Results – <%= shopData.shopName %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <nav class="navbar">
    <div class="nav-left">
      <a href="/" class="nav-logo"><%= shopData.shopName %></a>
    </div>

    <ul class="nav-center">
      <li><a href="../about">About</a></li>
      <li><a href="./add">Add Workouts</a></li>
      <li><a href="./list">All Workouts</a></li>
      <li><a href="./search">Search Workouts</a></li>
      <li><a href="./timer">Workout Timer</a></li>
    </ul> 
      
    <div class="nav-right">
      <a href="../auth/login" class="login-btn">Login</a>
      <a href="/logout" class="login-btn">Logout</a>
    </div>

  </nav>
<div class="index-container">
  <div class="section">
    <h1>Results for "<%= term %>"</h1>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Calories</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>

        <% workouts.forEach(w => { %>
            <tr>
                <td><%= w.id %></td>
                <td><%= w.name %></td>
                <td><%= w.calories %></td>
                <td><%= w.time %></td>
            </tr>
        <% }) %>
    </table>

        <div class="actions" style="margin-top:14px">
            <a class="btn" href="/workouts/search">New Search</a>
            <a class="btn btn-primary" href="/workouts/list">Back to List</a>
        </div>
  </div>
</div>
</body>
</html>
